
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #202020;
    height: 50px;
    color: white;
}

h1 {
    text-align: center;
    padding: 10px 0;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;

}
.enemies-inner h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: navy;

}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 5px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding-right: 50px ;
    text-transform: uppercase;
    list-style-type: none;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.strange-icon {
    width: 50px;
    height: 50px;
}

a {
    color: white;
}

.home-body {
    background-image: url("https://img.jakpost.net/c/2016/10/26/2016_10_26_14660_1477479380._large.jpg");
    height: calc(100vh - 100px);
    color: navy;
}

.enemies-body {
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/8/21/doktor-strendzh-doctor-strange-poster-fantastika-fentezi-ben.jpg");
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-body p {
    font-size: 22px;
    height: 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:navy;
}

.power-body {
    background-image: url("https://i.pinimg.com/originals/36/ac/97/36ac974ad97b439a4c9740b48e666f90.jpg");
    height: calc(100vh - 100px);
    color: white;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    height: 50px;
    background-color: #202020;
    color: white;
}

.footer-home {
    display: flex;
    justify-content: space-between;
}

.footer-home a {
    text-transform: none;
    text-decoration: none;

}

.enemies {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
}

.enemies div img {
    width: 190px;
    height: 190px;
}

.enemies-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enemies div p {
    text-align: center;
    color: navy;
}